.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
  padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    color: white;
    background-color: #ff139f;
    border: none;
    border-radius: 8px;
    padding: 9px 30px;
    cursor: pointer;
}
.catagories h1{
    color: white;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    border-radius:10px;
}
.card{
    border: none;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
}
.backpack{
    border-radius: 10px;
}
.subscribe{
    height: 300px; 
    background-color: #fceae8;
}
.subscribe #email{
    width: 300px;
}